.container {
    width: 100%;
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-out;
}

.container img {
    width: 80%;
}
.title {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.back {
    /* background-color: turquoise; */
    width: 80%;
}
.back img {
    width: 30px;
    transform: rotate(0deg);
    transition: all 0.6s ease-out;
}
.back img:hover {
    opacity: 0.5;
    transform: rotate(-10deg);
    transition: all 0.6s ease-out;
}

.back a {
    float: left;
    margin-left: 20px;
    /* text-decoration: none; */
    /* color: rgb(58, 143, 223); */
    /* font-size: 0.8em; */
}
.back a:hover {
    color: white;
}
.title > h2 {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
.descriptionOne {
    margin-top: 30px;
    width: 70%;
    letter-spacing: 1px;
    color: rgb(56, 56, 56);
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 30px;
    padding: 25px;
    text-align: left;
    /* background-color: rgba(58, 143, 223, 0.041); */
}
.description {
    /* margin-top: 30px; */
    width: 70%;
    color: rgb(56, 56, 56);
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 30px;
    padding: 15px 25px;
    text-align: left;
    /* background-color: rgba(58, 143, 223, 0.041); */
}
.descriptionFive {
    color: rgb(66, 66, 66);
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    padding: 15px 25px;
}

.links {
    margin-top: 10px;
    width: 60%;
    /* background-color: rgba(58, 143, 223, 0.041); */
    height: 60px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}

.block img {
    height: 40px;
    width: 40px;
}
.block img:hover {
    opacity: 0.8;
}
