.contact {
    /* height: 100vh; */
    width: 100%;
    background-color: #1f1f20;
    padding-bottom: 40px;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid; */
}

.title {
    /* width: 100%; */
    color: white;
    font-family: 'Kaushan Script', cursive;
    padding-bottom: 30px;
    padding-top: 30px;
}

.title > h2 {
    border-bottom: 3px solid rgb(58, 143, 223);
}
.confirmationMessage {
    color: white;
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 25px;
    background-color: rgba(58, 143, 223, 0.027);
    border-radius: 10px;
    margin-bottom: 30px;

    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.confirmationMessage > div > p {
    margin: 10px;
}

input {
    margin: 10px;
    background-color: #2b2b2c;
    border: 1px solid rgba(128, 128, 128, 0.466);
    padding: 5px;
    height: 35px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    width: 50%;
}
input:focus {
    outline: 1px solid #2b2b2c;
    border: none;
    transition: all 0.6s ease-out;
}
textarea {
    padding: 5px;
    margin: 10px;
    height: 150px;
    background-color: #2b2b2c;
    font-family: 'Quicksand', sans-serif;
    color: white;
    width: 50%;
}
textarea:focus {
    outline: 1px solid #2b2b2c;
    border: none;
    transition: all 0.6s ease-out;
}

/* .sendMessage {
    color: white;
}
.sendMessage:hover {
    color: rgb(58, 143, 223);
    cursor: pointer;
} */

.submitButton {
    width: 20%;
    min-width: 120px;
}
.submitButton:hover {
    width: 20%;
    color: rgb(58, 143, 223);
    cursor: pointer;
    border: 1px solid rgba(58, 143, 223, 0.233);
    background-color: #3d3d3d;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    input,
    textarea {
        width: 90%;
    }
}
