.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.3s ease;
}

.headerOpened {
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.3s ease;
}

@media screen and (max-width: 400px) {
    .header {
        /* height: 10vh; */

        height: auto;
        width: 100%;
        background-color: #1f1f20;
        display: flex;

        justify-content: center;
        align-items: center;
    }
}
