.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // height: 7vh;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.3s ease;

    @media screen and (max-width: 600px) {
        background-color: rgba(24, 38, 44, 0.637);
        display: flex;
        justify-content: flex-end;
        // align-items: center;
        height: 60px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        transition: all 0.3s ease;
    }
    // @media screen and (max-width: 900px) {
    //     width: 300px;
    // }
}

.headerOpened {
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // height: 7vh;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.3s ease;
    @media screen and (max-width: 600px) {
        background-color: rgb(24, 38, 44);
    }
}
