.skill {
    /* height: 100vh; */
    /* width: 100%; */
    width: 200px;
    color: white;
    /* background-color: rgb(174, 174, 187); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: #1f1f20;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.description {
    font-family: 'Quicksand', sans-serif;
}

.title {
    margin-top: 20px;
    font-family: 'Rajdhani', sans-serif;
}
