.skill {
    /* height: 100vh; */
    /* width: 100%; */
    width: 200px;
    color: white;
    /* background-color: rgb(174, 174, 187); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: #1f1f20;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img {
    width: 55px;
    height: 55px;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.description {
    margin-top: -10px;
    font-family: 'Quicksand', sans-serif;
}
.blue {
    color: rgb(58, 143, 223);
    font-weight: bold;
    font-size: 1.8em;
}
.white {
    color: white;
    font-size: 1.8em;
}

.title {
    margin-top: 20px;
    font-family: 'Rajdhani', sans-serif;
}
