.nav {
    /* border: 1px solid black; */
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 50px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
.nav a:hover {
    color: rgb(58, 143, 223);
}
