.navContainer {
    /* background-color: blue; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.nav {
    /* border: 1px solid black; */

    width: 350px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 50px;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 25px;

    --border-color: white;
    --border-width: 2px;
    --bottom-distance: 0px; /* you can increase this */

    /* color: #666; */
    display: inline-block;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    background-position: 0 calc(100% - var(--bottom-distance));
}

.nav a:hover {
    color: rgb(190, 190, 190);
    cursor: pointer;
}

.nav .current {
    background-size: 100% var(--border-width);
}

@media screen and (max-width: 900px) {
    .nav navContainer {
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 400px) {
    .nav {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        /* background-color: rgb(103, 103, 180); */

        justify-content: center;
        align-items: center;
    }
    .nav a {
        height: 35px;
        width: 100%;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgb(48, 48, 48);
        font-family: 'Quicksand', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav a:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(58, 143, 223);
        cursor: pointer;
    }
}
